<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
    <script src="../Scripts/jquery-1.9.1.min.js"></script>
    <script src="../Scripts/bootstrap.min.js"></script>
    <link href="../Content/bootstrap.min.css" rel="stylesheet" />
    <link href="../Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col-lg-12">
        <div class="form-control">
            <input id="txtUser" type="text" placeholder="Usuario" />
            <input id="txtPassword" type="text" placeholder="Contraseña" />
            <input id="btnLogin" type="button" value="Iniciar" />
        </div>
    </div>
</body>
</html>
