body {
    background: url('../images/majestic_deer_by_creathor4005-d6bn0dt.png') top center no-repeat;
    background-size:100% auto;
}
#login.jumbotron{
    background: rgba(255, 255, 255, 0.5);
}
#header.jumbotron{
    background: rgba(255, 255, 255, 0.65);
}